extends layout

block content
  div.card.mt-5
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      span(style="white-space: pre;") #{schedule.memo}
    div.card-footer
      span 作成者: #{schedule.user.username}
  div.form-group.mt-3
    label(for="shareURL") 共有用 URL:
    input(type="text" value=`${process.env.SERVICE_URL}/schedules/${schedule.scheduleId}/` readonly)#shareURL.form-control
  if parseInt(user.id) === schedule.user.userId
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info この予定を編集する
  h3.mt-5.mb-3 出欠表
  table.table.table-bordered.mb-5
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
          - var availabilityLabels = ['fas fa-times', 'fas fa-question', 'far fa-circle'];
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
          td
            if user.isSelf
              button(
                class=`availability-toggle-button btn ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-candidate-id=candidate.candidateId
                data-availability=availability
                style="width: 40px;"
              ) #[i(class=availabilityLabels[availability])]
            else
              h5 #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        td
          if user.isSelf
            p#self-comment #{commentMap.get(user.userId)}
            button(
              data-schedule-id=schedule.scheduleId
              data-user-id=user.userId
            )#self-comment-button.btn.btn-info 編集
          else
            span #{commentMap.get(user.userId)}
